* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
/* Styling for header */
.header {
  background-image: url(./design-assets/bgk-header.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  /*margin-left: 0;*/
  /*my code*/
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 80px;
  margin-left: 60px;
}
.header nav ul {
  list-style: none;
  display: flex;
  justify-content: end;

  /*margin: 25px auto;
  /*margin-left: 33.33%;*/
}
.header nav ul li {
  margin: 0 15px;
  cursor: pointer;
}
.header nav li:hover {
  color: #a401fc;
}
#logo {
  display: flex;
  justify-content: start;
  justify-content: left;
}
.header-content {
  padding: 30px;
  margin-top: 30px;
  max-width: 600px; /* Begrenze die Breite des Textcontainers */
  margin: 0 auto; /* Zentriere den Text in der Mitte */
  text-align: center; /* Zentriere den Textinhalt im Container */
}

.header h1 {
  font-size: 32px;
}
.header-line {
  width: 60px;
  height: 2px;
  background-color: #fff;
  margin: 25px auto;
}

.header-content p {
  display: block;
  margin: 0 auto 20px;
}
/* Button im Header */
.learn-more {
  background-color: transparent;
  color: #31a2c4;
  border: 2px solid #21012c;
  border-radius: 10px;
  border-right: 0.5px black solid;
  border-bottom: 0.5px black solid;
  box-shadow: 3px 1px 5px 1px black;
  padding: 10px 20px;
  cursor: pointer;
}
.learn-more:hover {
  animation: blink 3.5s alternate 15;
}
@keyframes blink {
  from {
    background: #eee;
  }
  to {
    background: #3e0252;
  }
}
/* Styling for "Our Story" section */
.our-story {
  /*margin: 45px 0 0 0; /* Zentriere den Text in der Mitte */
  text-align: start; /* Zentriere den Textinhalt im Container */
  background-color: #fff;
  display: flex; /* Füge Flexbox-Layout hinzu */
  justify-content: space-between; /* Platziere die Elemente mit Abstand nebeneinander */
  flex-direction: row; /* Ändere die Flexbox-Ausrichtung auf vertikal für mobile Geräte */
  align-items: center; /* Zentriere die Elemente horizontal für mobile Geräte */
  height: 500px;
}
.our-story h2 {
  font-size: 28px;
}
.our-story p {
  /*flex: 1; /* Lass den Text den verbleibenden Platz neben dem Bild einnehmen */
}
/*Logo */
.logo1 {
  padding: 45px;
  width: 30%;
}
.story {
  text-align: start;
  margin: 50px 50px;
  width: 70%;
}

.white-button {
  background-color: transparent;
  color: #31a2c4;
  border: 2px solid #fcfcfc;
  border-radius: 10px;
  border-right: 0.5px black solid;
  border-bottom: 0.5px black solid;
  box-shadow: 3px 1px 5px 1px black;
  padding: 10px 20px 10px;
  margin-top: 15px;
  cursor: pointer;
}

.white-button:hover {
  animation: blink 3.5s alternate 15;
}
@keyframes blink {
  from {
    background: #eee;
  }
  to {
    background: #000000;
  }
}

/* Stil für das Logo */
.our-story img {
  width: 25%; /* Passe die Breite des Logos auf 100% an, um es für mobile Geräte anzupassen */
  margin: 0 15px;
}

/* Stil für Sections "WATCH", "EXPERTISE", "TEAM" */
.watch {
  background-image: url(design-assets/bgk-middle.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
  font-family: "REM", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watchButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.watchButtons p {
  margin-top: 30px;
}
.watchButtons img {
  height: 100px;
  width: 100px;
}

/* font size -12 (or 13px), logo 100x100px */

/*font;

font-family: 'Playfair Display', serif;
font-family: 'REM', sans-serif; */

hr {
  width: 50px;
  height: 2px;
}

.expertise {
  background-color: #ffffff;
  width: 100%;
  height: 680px;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* 1grid-element: 320x250px, font size: 12px (both headline and text), logo ca 50px height */
}
.expertiseHeader {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.expertiseHeader h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #403e4b;
}
.expertiseHeader p {
  font-family: "Playfair Display", serif;

  font-size: 0.9rem;
  color: #77777c;
  font-weight: 700;
  margin-top: 0;
}
.expertiseHeader hr {
  background-color: #c5c4c9;
  border: none;
  margin-top: 15px;
}
.expertiseGrid {
  width: 950px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
}
.gridItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  border: 1px solid #c5c4c9;
  font-family: "REM", sans-serif;

  font-size: 0.8rem;
  color: #77777c;
}
.gridItem h4 {
  font-weight: 700;
  margin-top: 15px;
}
.gridItem p {
  padding: 20px;
}
.gridItem img {
  width: 50px;
  height: 50px;
}
#oneone,
#onetwo,
#onethree {
  border-top: none;
}
#twoone,
#twotwo,
#twothree {
  border-bottom: none;
}
#oneone,
#twoone {
  border-left: none;
}
#onethree,
#twothree {
  border-right: none;
}
.team {
  background-image: url(./design-assets/bgk-team.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 710px;
  color: #f5f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teamHeader {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.teamHeader h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
}
.teamHeader p {
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
  color: #9e9caf;
  margin-top: 5px;
}

.teamHeader hr {
  color: #5e5c7d;
  background-color: #5e5c7d;
  border: none;
  margin-top: 20px;
}
.teamTiles {
  width: 942px;
  height: 330px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.imagePlaceholder {
  width: 220px;
  height: 229px;
  background-color: #f5f5f7;
  border: 1px solid #f5f5f7;
}
.namePlaceholder {
  width: 220px;
  height: 77px;
  background-color: transparent;
  border: 1px solid #5e5c7d;
  text-align: center;
}
.namePlaceholder p {
  color: #9e9caf;
  font-size: 0.7rem;
}
.namePlaceholder h4 {
  font-size: 0.9rem;
  margin-top: 10px;
  color: #f5f5f7;
}
.teamButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}
.teamButton button {
  height: 40px;
  width: 140px;
  background-color: transparent;
  border: 1px solid #56b2b0;
  color: #56b2b0;
  margin-top: 20px;
  padding: 10px;
  font-weight: 600;
}
.teamButton:hover {
  cursor: pointer;
}
.teamButton h5 {
  color: #9e9caf;
  font-weight: 100;
}
/* ENDE 3 SECTIONS (PIOTR) */

.contact {
  position: relative;
  display: flex;
  min-height: 650px;
  padding-top: 50px;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex: 1;
  margin-right: 100px;
  margin-left: 100px;
}

.formular {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 50%;
  gap: 15px;
  border-radius: 5px;
  align-items: start;
  margin-left: 70px;
}
.headline {
  font-size: 25px;
}

.formular-box {
  display: block;
  width: 80%;
  height: 40px;
  padding: 10px 12px;
  font-size: 15px;
  color: rgb(101, 97, 97);
  border: 1px solid #cccccc;
}

.formular-message {
  font-size: 15px;
  padding: 10px 12px;
  color: rgb(101, 97, 97);
  border: 1px solid #cccccc;
  width: 80%;
}

.formular-submit {
  display: block;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  justify-content: start;
  border: 2px solid #00e0d0;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #00e0d0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.firma-logo {
  display: inline-block;
  width: 50%;
  margin-top: 60px;
  margin-right: 70px;
}
.clients {
  font-size: 25px;
}
.logos {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.img-logo {
  width: 140px;
  margin-bottom: 30px;
  padding: 20px;
}

.last-part {
  background-image: url(./design-assets/bgk-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  display: flex;
  min-height: 400px;
  align-items: center;
  flex-wrap: wrap;

  /*display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;*/
}
.f-container {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.footer {
  margin-right: 20px;
  flex-grow: 1;
  margin-left: 70px;
  flex-basis: 100%;
}
.logo-part {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.text-part {
  margin-top: 15px;
}
.title {
  font-size: 25px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.location {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.footer-logo {
  margin-right: 10px;
}
.footer-phone {
  margin-top: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-icon {
  margin-right: 10px;
}

.input-footer {
  height: 40px;
  width: 60%;
  margin-bottom: 5px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #fff;
  border: 1px solid #cccccc;
  font-size: 18px;
}
.submit-footer {
  padding-top: 5px;
  height: 40px;
  width: 25%;
  margin-bottom: 5px;
  color: #fff;
  border: 1px solid #cccccc;
  background-color: rgba(255, 251, 251, 0.4);
}

.help-copy {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  flex: 100%;
  margin-left: 70px;

  margin-bottom: 0;
}

.help-privacy {
  display: flex;
  justify-content: space-between;
  width: 30%;
  color: white;
  text-decoration: none;
}

.footer-link {
  text-decoration: none;
  color: inherit;
}
.copyright {
  margin-left: 70px;
}
